  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div>
        <app-add-meet></app-add-meet>
      </div>
    </div>
  </ng-template>

  <div class="panelTitle">
    Spotkania
  </div>

  <button  class="btn btn-outline-primary mb-2 mr-2" 
  (click)="addMeeting(content)">Dodaj Spotkanie</button>

  <div class="container-show-teacher">
    <app-scheduler></app-scheduler>
  </div>


  
 
  