.student-container{
    display: flex;
    width: 80%;
    height: auto;
    border: 3px dashed var(--blue);
    margin-bottom: 15px;
    margin-left: 2rem;
    box-shadow: 5px 5px 10px;
}

.student-image{
    float: left;
    width: 6rem;
    height: 100%;
    margin-left: -3px;
    margin-top: -3px;
    border-top: 3px solid var(--blue);
    border-left: 3px solid var(--blue);
}

.student-date{
    float: left;
    margin-top: -0.5rem;
    margin-left: 1.5rem !important;
}

.small-version{
    text-align: left !important;
    font-size: 1.9rem !important;
    width: 100%;
}

.container-word{
    font-size: bold !important;
    width: auto;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    float: left;
    margin-top: 1rem;
    margin-left: 0.4rem;
}

.container-name h1{
    margin-right: 0.2rem;
    margin-top: -0.4rem;
    margin-bottom: 0px !important;
    font-size: 1rem !important;
    font-weight: bold;
    width: auto;
    float: left;
}

.container-name{
    margin-right: 1rem;
    width: auto;
    float: left;
}

