.table-student{
    width: 70%;
    float: left;
}
.table-teacher{
    width: 25%;
    height: 100%;
    float: right;
    border: 3px solid var(--blue);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.table-origin{
    height: 400px;
    
}
.table-teacher-heder{
    margin-top: -1px;
    margin-left: -1px;
    width: 101%;
    height: 10%;
    background-color: var(--blue);
    border-top-left-radius: 13px;
    border-top-right-radius: 15px;
    text-align: center;
    color: var(--white);
    font-size: 20px;
    padding: 10px;
}

.table-teacher-body{
    margin-left: 0.7rem;
    margin-top: 5px;
    width: 90%;
    height: 2rem;
    border: 3px solid var(--blue);
    border-radius: 15px;
    padding: 0.3rem 0.3rem;
    background-color: var(--white);
}

.table-teacher-body:hover{
    color: var(--white);
    background-color: var(--blue);
}

.table-teacher-body:hover .corss-right{
    display: inline;
    width: auto;
    float: right;
    margin-right: 2rem;
    
}

.contener-administratora{
    height: 4rem !important;
    padding: 1 rem 1rem;    
}

.container-show-teacher{
    width: 50%;
    height: 30rem;
    margin-right: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
}

.fl-l1{float: left; margin-right: 1rem;}

.container-forms{
    width: 40%;
    float: left;
}

.button-container{
    float: left;
    width: 40%;
}

.btn-dodaj{
    float: left;
    width: 40%;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 2rem;
}

.btn-prev{
    float: left;
    width: 40%;
    margin-top: 1rem;
}

.corss-right{
    display: none;
}