<div *ngIf="userPosition == 'S'">
    <!--Wybieranie nauczyciela - Tworzenie spotkania-->
    <div *ngIf="screen == 0">
        <div class="panelTitle">
            Wybierz nauczyciela
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
              <div class="search-container">
                <input type="text" name="search" [(ngModel)]="searchText" placeholder="Wyszukuj" class="searchBox">
              </div>
            </div>
        </div>
        
        <table class="table table-striped">
            <thead>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Identyfikator</th>
                <th>Opcje</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of teacherList | filter:searchText; let i = index">
                    <td>{{i}}</td>
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.idCard}}</td>               
                    <td>
                        <button type="button" class="btn btn-outline-primary me-2 mb1 "
                        (click)="addTeacher(item.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                        </button>                     
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--Uzupełnianie danych - Tworzenie spotkania-->
    <div *ngIf="screen == 1">
        <div class="panelTitle">
            Dane spotkania {{dateStart}}
        </div>
        <br>
        <div class="container-forms">
            <form [formGroup]="meetingForm" >
                <div class="col-sm-10">
                    <span class="titleEmpDown">Tytuł spotkania:</span>
                    <input type="text" class="form-control" formControlName="title"
                    placeholder="Temat">
                </div>
        
                <div class="col-sm-10">
                    <span class="titleEmp">Opis:</span>
                    <textarea class="form-control" formControlName="description"
                    placeholder="Opis" rows="3"></textarea>
                </div>

                <div class="col-sm-10">
                    <span class="titleEmp">Data:</span>
                    <input type="date" class="form-control" formControlName="date"
                    placeholder="Opis">
                </div>

                <div class="col-sm-4 fl-l1">
                    <span class="titleEmp">Czas start:</span>
                    <input type="time" class="form-control" formControlName="timeStart"
                    placeholder="Opis">
                </div>

                <div class="col-sm-4 fl-l1">
                    <span class="titleEmp">Czas koniec:</span>
                    <input type="time" class="form-control" formControlName="timeEnd"
                    placeholder="Opis">
                </div>
            </form> 
            <button (click)="addMeetingS()" [disabled]="!meetingForm.valid" class="btn btn-primary btn-dodaj">
                Dodaj
            </button>

            <button (click)="prevScreen()" class="btn btn-primary btn-prev">
                Cofnij
            </button>

        </div>
    <div class="container-show-teacher">
        <app-show-meeting [showUser]="showUser"></app-show-meeting>
    </div>


    </div>
</div>
<div *ngIf="userPosition == 'T'">
    <!--Wybieranie studentów - Tworzenie spotkania-->
    <div *ngIf="screen == 0">
        <div class="panelTitle">
            Wybierz studentów 
        </div>
        <br>
        <div class="container">
            <div class="row">
              <div class="search-container">
                <input type="text" name="search" [(ngModel)]="searchText" placeholder="Wyszukuj" class="searchBox">
              </div>
            </div>
        </div>
        <div class="table-origin">
            <div class="table-student">
                <table class="table table-striped">
                    <thead>
                        <th>ID</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Identyfikator</th>
                        <th>Opcje</th>
                    </thead>
                    <tbody *ngFor="let item of studentList | filter:searchText; let i = index">
                            <tr > 
                                <td>{{i}}</td>
                                <td>{{item.firstName}}</td>
                                <td>{{item.lastName}}</td>
                                <td>{{item.idCard}}</td>               
                                <td>
                                    <button type="button" class="btn btn-outline-primary me-2 mb1 "
                                    (click)="addStudent(item)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                    </button>                     
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-teacher">
                <div class="table-teacher-heder">
                    Lista dodanych studentów
                </div>
                <button type="button" class="table-teacher-body" *ngFor="let item of secondList; let i = index" (click)="deleteStudent(item)">
                        {{i + ". " +item.firstName + " " + item.lastName}}
                        <div class="corss-right">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg>
                        </div>          
                </button>
            </div>
        </div>
        <br>
        <button (click)="nextScreen()" class="btn btn-primary" [disabled]="secondList.length==0">
            Następny krok
        </button>
    </div>
    <!--Uzupełnianie danych - Tworzenie spotkania-->
    <div *ngIf="screen == 1">
        <div class="panelTitle">
            Dane spotkania {{dateStart}}
        </div>
        <br>
        <div class="container-forms">
            <form [formGroup]="meetingForm" >
                <div class="col-sm-10">
                    <span class="titleEmpDown">Tytuł spotkania:</span>
                    <input type="text" class="form-control" formControlName="title"
                    placeholder="Temat">
                </div>
        
                <div class="col-sm-10">
                    <span class="titleEmp">Opis:</span>
                    <textarea class="form-control" formControlName="description"
                    placeholder="Opis" rows="3"></textarea>
                </div>
    
                <div class="col-sm-10">
                    <span class="titleEmp">Data:</span>
                    <input type="date" class="form-control" formControlName="date"
                    placeholder="Opis">
                </div>
    
                <div class="col-sm-4 fl-l1">
                    <span class="titleEmp">Czas start:</span>
                    <input type="time" class="form-control" formControlName="timeStart"
                    placeholder="Opis">
                </div>
    
                <div class="col-sm-4 fl-l1">
                    <span class="titleEmp">Czas koniec:</span>
                    <input type="time" class="form-control" formControlName="timeEnd"
                    placeholder="Opis">
                </div>
            </form> 
            
            <button (click)="addMeetingT()" [disabled]="!meetingForm.valid" class="btn btn-primary btn-dodaj">
                Dodaj
            </button>
    
            <button (click)="prevScreen()" class="btn btn-primary btn-prev">
                Cofnij
            </button>
        </div>
        <div class="container-show-teacher">
            <app-show-meeting [showUser]="showUser"></app-show-meeting>
        </div>
    </div>
</div>
<div *ngIf="userPosition == 'A'" class="contener-administratora">
    <div class="panelTitle"> Brak możliwości dodawania spotkań przez administartora</div>
</div>
