
<div class="form-froup row paddUser">
     <form [formGroup]="registerForm" >
        <div class="ml-3 bd-highlight imageUpload" >
            <img [src]="PhotoFilePath + photoFile" height="270px;" width="240px;" class="margin-photo" >
            <input type="file" (change)="uploadPhoto($event)"  class="inputEmpl" />
        </div>
        
        <div id="left-container-input">
            <div class="col-sm-12">
                <span class="titleEmp">Imię:</span>
                <input type="text" class="form-control" formControlName="firstName"
                [ngClass]="{'red-warn':validators('firstName')===true , 'green-warn':validators('firstName')===false}"
                placeholder="Imię">
                <small class="text-danger" *ngIf="validators('firstName') && registerForm.get('firstName').touched">
                    Tylko litery. Max 30 znaków
                </small>
            </div>

            <div class="col-sm-12">
                <span class="titleEmpDown">Nazwisko:</span>
                <input type="text" class="form-control" formControlName="lastName" 
                [ngClass]="{'red-warn':validators('lastName')===true , 'green-warn':validators('lastName')===false}"
                placeholder="Nazwisko">
                <small class="text-danger" *ngIf="validators('lastName') && registerForm.get('lastName').touched">
                    Min 6 znaków, max 60 znaków
                </small>
            </div>

            <div class="col-sm-12">
                <span class="titleEmp">Email:</span>
                <input type="email" class="form-control" formControlName="email"
                [ngClass]="{'red-warn':validators('email')===true , 'green-warn':validators('email')===false}"
                placeholder="Email" >
                <small class="text-danger" *ngIf="validators('email') && registerForm.get('email').touched">
                    Wymagane
                </small>
            </div>
            
            <div class="col-sm-12" *ngIf="status != 3">
                <span class="titleEmp">Hasło:</span>
                <input type="password" class="form-control" formControlName="passwordR" 
                [ngClass]="{'red-warn':validators('passwordR')===true , 'green-warn':validators('passwordR')===false}"
                placeholder="Hasło" >
                <small class="text-danger" *ngIf="validators('passwordR') && registerForm.get('passwordR').touched">
                    1 mała i duża litera oraz cyfra. Min 8 znaków. 
                </small>
            </div>

            <div class="col-sm-12" *ngIf="status == 3">
                <span class="titleEmp">Hasło:</span>
                <input type="password" class="form-control" formControlName="password"
                [ngClass]="{'red-warn':validators('password')===true , 'green-warn':validators('password')===false}"
                placeholder="Hasło" >
                <small class="text-danger" *ngIf="validators('password') && registerForm.get('password').touched">
                    1 mała i duża litera oraz cyfra. Min 8 znaków. 
                </small>
            </div>
        </div>

        <div id="right-container-input">
            <div class="col-sm-12">
                <span class="titleEmp">Pesel:</span>
                <input type="text" class="form-control" formControlName="pesel"
                [ngClass]="{'red-warn':validators('pesel')===true , 'green-warn':validators('pesel')===false}"
                placeholder="Pesel">
                <small class="text-danger" *ngIf="validators('pesel') && registerForm.get('pesel').touched">
                    11 cyfr
                </small>
            </div>
    
            <div class="col-sm-12">
                <span class="titleEmp">Indeks:</span>
                <div id="boxGen" *ngIf="status != 3">
                    <input type="text" class="form-control plusBtn" formControlName="idCard"
                    [ngClass]="{'red-warn':validators('idCard')===true , 'green-warn':validators('idCard')===false}" >
                    <button class="generateBTN" (click)="generate()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-google sBox" viewBox="0 0 16 16">
                            <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                          </svg>
                    </button> 
                </div>
                    <div class="form-group" *ngIf="status == 3">
                        <fieldset disabled>
                            <input type="text" id="disabledTextInput" class="form-control" formControlName="idCard">
                        </fieldset>
                    </div>
                <small class="text-danger" *ngIf="validators('idCard') && registerForm.get('idCard').touched">
                    6 cyfr
                </small>
                
            </div>  
    
            <div class="col-sm-12">
                <span class="titleEmp">Płeć:</span>
                <select type="text" class="form-control" formControlName="sex" (change)='changePhoto(registerForm.controls["sex"].value)'>
                    <option value="K"  checked >Kobieta</option>
                    <option value="M">Mężczyzna</option>
                    <option value="U">Inna</option>
                </select>
            </div> 
        </div>  
    </form> 
</div>
 
<br>
<button (click)="addUser()" [disabled]="paswdR('passwordR')" 
    *ngIf="status == 1" class="btn btn-primary">
    Dodaj
</button>
<button (click)="addTeacher()" [disabled]="paswdR('passwordR')"  
    *ngIf="status == 2" class="btn btn-primary">
    Dodaj
</button>
<button (click)="editUser()" [disabled]="paswdR('password')"  
    *ngIf="status == 3" class="btn btn-primary">
    Edytuj
</button>

