.leftAdd{
    display: block;
    float: left;
    width: 65%;
    height: 240px;
    margin-bottom: -30px;
    padding-top: 0.3rem;
}

.bottomAdd{
    bottom: 0;
}


.imageEmpl{
    width: 30%;
    margin-top: -10px;
    height: 260px;
}

.titleEmp{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 3px;
    margin-left: -6px;
}

.bottomAdd{
    float: left;
    width: 800px;
}

.titleEmpDown{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 3px;
    margin-left: -6px;
}

.margBottom{
    margin-bottom: 2px;
}

.paddUser{
    padding: 2rem 2rem;  
}

.imageUpload{
    float: right;
    width: 300px;
    margin-top: -20px;
    margin-bottom: 3rem;
    height: 260px;
}

.margin-photo{
    margin-bottom: 10px;
}

.left-move{
    float: left;
    margin-right: 2rem;
}

.space{
    float: left;
    width: 60%;
}

