<div class="main-container-text">
    <div class="left-container">
        <div *ngFor="let word of textOne" [ngClass]="{'word': findWord(word)===false, 'sameWord':findWord(word)===true}">
            <a>{{word}}</a>
        </div>    
    </div>
    <div class="right-container">
        <div *ngFor="let word of textSecond" [ngClass]="{'word': findWord(word)===false, 'sameWord':findWord(word)===true}">
            {{word}}
        </div>
    </div>
    <div id="footerInf">
        <p id="leftP">W pracy pierwszej jest {{getPercent(textOne,matrix)}}% słów z pracy drugiej</p>
        <p id="rightP">W pracy drugiej jest {{getPercent(textSecond,matrix)}}% słów z pracy pierwszej</p>
    </div>
</div>