.allItem{
    display: block;
    margin-left: 15px;
    margin-top: 30px;
    width: 100%;
}

.dropzoneSize{   
    width: 65%;
    height: 100%;
}

.butonZone{
    height: 180px;
    width: 30%;
    margin-right: 5%;
    margin-top: -180px;
    float: right;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sizeDrop{
    border-right: none !important;
    border-color: var(--blue);
    border-width: 4px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.container-file{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 85%;
}

.container-primal{
    height: 500px;
}

.file-code{
    float: left;
    width: 30%;
    height: 100%;
    border: 3px solid var(--blue) !important;
    padding: 3rem;
    margin-right: 1rem;
}

.file-text{
    margin-top: 20px;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-button{
    float: right;
    margin-right: 100px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 400px;
}

.container-button button{
    border: 6px solid var(--blue) !important;
}

.preloader {
	display: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	animation: animation 1.3s infinite linear;
    float: right;
    margin-right: 10rem;
    margin-top: 10rem !important;
}

@keyframes animation {
	0%,
	100% {
		box-shadow: 0 -60px 0 0.40px #F34A53, 40px -40px 0 0 #F34A53, 60px 0 0 -10px #F34A53, 40px 40px 0 -10px #F34A53, 0 60px 0 -10px #F34A53, -40px 40px 0 -10px #F34A53, -60px 0 0 -10px #F34A53, -40px -40px 0 0 #F34A53;
	}
	12.5% {
		box-shadow: 0 -60px 0 0 #F34A53, 40px -40px 0 0.40px #F34A53, 60px 0 0 0 #F34A53, 40px 40px 0 -10px #F34A53, 0 60px 0 -10px #F34A53, -40px 40px 0 -10px #F34A53, -60px 0 0 -10px #F34A53, -40px -40px 0 -10px #F34A53;
	}
	25% {
		box-shadow: 0 -60px 0 -10px #F34A53, 40px -40px 0 0 #F34A53, 60px 0 0 0.40px #F34A53, 40px 40px 0 0 #F34A53, 0 60px 0 -10px #F34A53, -40px 40px 0 -10px #F34A53, -60px 0 0 -10px #F34A53, -40px -40px 0 -10px #F34A53;
	}
	37.5% {
		box-shadow: 0 -60px 0 -10px #F34A53, 40px -40px 0 -10px #F34A53, 60px 0 0 0 #F34A53, 40px 40px 0 0.40px #F34A53, 0 60px 0 0 #F34A53, -40px 40px 0 -10px #F34A53, -60px 0 0 -10px #F34A53, -40px -40px 0 -10px #F34A53;
	}
	50% {
		box-shadow: 0 -60px 0 -10px #F34A53, 40px -40px 0 -10px #F34A53, 60px 0 0 -10px #F34A53, 40px 40px 0 0 #F34A53, 0 60px 0 0.40px #F34A53, -40px 40px 0 0 #F34A53, -60px 0 0 -10px #F34A53, -40px -40px 0 -10px #F34A53;
	}
	62.5% {
		box-shadow: 0 -60px 0 -10px #F34A53, 40px -40px 0 -10px #F34A53, 60px 0 0 -10px #F34A53, 40px 40px 0 -10px #F34A53, 0 60px 0 0 #F34A53, -40px 40px 0 0.40px #F34A53, -60px 0 0 0 #F34A53, -40px -40px 0 -10px #F34A53;
	}
	75% {
		box-shadow: 0 -60px 0 -10px #F34A53, 40px -40px 0 -10px #F34A53, 60px 0 0 -10px #F34A53, 40px 40px 0 -10px #F34A53, 0 60px 0 -10px #F34A53, -40px 40px 0 0 #F34A53, -60px 0 0 0.40px #F34A53, -40px -40px 0 0 #F34A53;
	}
	87.5% {
		box-shadow: 0 -60px 0 0 #F34A53, 40px -40px 0 -10px #F34A53, 60px 0 0 -10px #F34A53, 40px 40px 0 -10px #F34A53, 0 60px 0 -10px #F34A53, -40px 40px 0 0 #F34A53, -60px 0 0 0 #F34A53, -40px -40px 0 0.40px #F34A53;
	}
}