.photo-teacher{
    float: right;
    margin-top: 1.5rem;
    margin-right: 2.5rem;
}

#content-title{
    padding-top: 0.4rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'TitleWeb', sans-serif;
}
